<div class="container w-50 mt-2 p-2" style="border: 1px solid grey; border-radius: 15px">
  <h3 class="text-center">THÊM MỚI DỊCH VỤ</h3>
  <form class="row g-3" action="" method="post">
    <div class="col-md-12">
      <label class="form-label">Loại dịch vụ</label>
      <select name="serviceType" class="form-select" (change)="showServiceInput($event.target)" id="serviceSelect">
        <option value="-">Vui lòng chọn</option>
<!--       <ng-container>-->
         <option  *ngFor="let faciType of facilityType; index as i" [value]="faciType.id" >lklklk</option>
<!--       </ng-container>-->
      </select>
    </div>

    <div class="col-md-12">
      <label for="name" class="form-label">Tên dịch vụ</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="col-md-12">
      <label for="area" class="form-label">Diện tích sử dụng</label>
      <input type="text" class="form-control" id="area" name="area">
    </div>
    <div class="col-md-12">
      <label for="cost" class="form-label">Chi phí thuê</label>
      <input type="text" class="form-control" id="cost" name="cost">
    </div>
    <div class="col-md-12">
      <label for="max_people" class="form-label">Số lượng người tối đa </label>
      <input type="text" class="form-control" id="max_people" name="max_people">
    </div>
    <div class="col-md-12">
      <label class="form-label">Kiểu thuê</label>
      <select name="rentalType" class="form-select">
        <option>Năm</option>
        <option>Tháng</option>
        <option>Tuần</option>
        <option>Ngày</option>

      </select>
    </div>
    <div class="col-md-12 " name="s1" *ngIf="facility.includes('s1')">
      <label for="standard_room" class="form-label">Tiêu chuẩn phòng </label>
      <input type="text" class="form-control" id="standard_room" name="standard_room">

    </div>

    <div class="col-md-12 " id="s2" *ngIf="facility.includes('s2')">
      <label for="description_other_convenience" class="form-label">Mô tả tiện nghi khác</label>
      <input type="text" class="form-control" id="description_other_convenience"
             name="description_other_convenience"  >
    </div>

    <div class="col-md-12 " id="s3" *ngIf="facility.includes('s3')">
      <label for="pool_area" class="form-label">Diện tích hồ bơi </label>
      <input type="text" class="form-control" id="pool_area" name="pool_area">
    </div>

    <div class="col-md-12" id="s4" *ngIf="facility.includes('s4')">
      <label for="number_of_floors" class="form-label">Số tầng </label>
      <input type="text" class="form-control" id="number_of_floors" name="number_of_floors">
    </div>

    <div class="col-md-12 " id="s5" *ngIf="facility.includes('s5')">
      <label for="facility_free" class="form-label">Dịch vụ miễn phí đi kèm </label>
      <input type="text" class="form-control" id="facility_free" name="facility_free">
    </div>

    <div class="col-12 ">
      <button type="submit" class="btn btn-primary" (click)="transfer()">Gửi</button>
    </div>
  </form>
</div>


