<h2 class="text-center">
  Todo App
</h2>

<div class="col-md-8 offset-md-2">
  <input type="text" class="form-control" [formControl]="content" (change)="change()">
  <ul id="content" *ngFor="let todo of todos; index as i" class="border border-1 rounded-3 mb-2 p-1 mt-2 ">

    <li (click)="toggleTodo(i)"
        [class.complete]="todo.complete"
       >
      {{todo.content}}
    </li>
      <button class="btn btn-primary me-3 d-button" type="button" (click)="delete(todo.id)">delete</button>
      <button class="btn btn-danger edit-button" type="button" [routerLink]="['',todo.id]">edit</button>

  </ul>
</div>
