<div class="container bg-success p-2 rounded-3">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             formControlName="email">
      <div
        *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty ||registerForm.controls.email.touched)">
        Email is not valid
      </div>
    </div>
    <div formGroupName="passGroup">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        <p class="text-danger"
           *ngIf="!registerForm.controls.passGroup.controls.password.valid && (registerForm.controls.passGroup.controls.password.dirty ||registerForm.controls.passGroup.controls.password.touched)">
          PassWord is not valid
        </p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPasswordConfirm" class="form-label">Password Confirm</label>
        <input type="password" class="form-control" id="exampleInputPasswordConfirm" formControlName="confirmPassword">
        <p class="text-danger"
           *ngIf="!registerForm.controls.passGroup.controls.confirmPassword.valid && (registerForm.controls.passGroup.controls.confirmPassword.dirty ||registerForm.controls.passGroup.controls.confirmPassword.touched )">
          PassWord confirm is not valid
        </p>
        <p class="text-danger"
           *ngIf="registerForm.controls.passGroup.hasError('invalidConfirm') && (registerForm.controls.passGroup.controls.confirmPassword.dirty ||registerForm.controls.passGroup.controls.confirmPassword.touched )">
          PassWord confirm is not compare with password
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <select name="" id="country" formControlName="country" class="form-select">
        <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
      </select>
      <div
        *ngIf="!registerForm.controls.country.valid && (registerForm.controls.country.dirty ||registerForm.controls.country.touched)">
        Country is not valid
      </div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="text" class="form-control" id="age" formControlName="age">
      <div
        *ngIf="!registerForm.controls.age.valid && (registerForm.controls.age.dirty ||registerForm.controls.age.touched)">
        Age is not valid
      </div>
    </div>
    <div class="mb-3">
      <label for="male" class="form-check-label me-1">Male</label>
      <input type="radio" class="form-check-input" id="male" name="gender" formControlName="gender" value="true">
      <label for="female" class="form-label ms-4 me-1">Female</label>
      <input type="radio" class="form-check-input" id="female" name="gender" formControlName="gender" value="false">
      <div
        *ngIf="!registerForm.controls.gender.valid && (registerForm.controls.gender.dirty ||registerForm.controls.gender.touched)">
        Gender is not valid
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone">
      <div
        *ngIf="!registerForm.controls.phone.valid && (registerForm.controls.phone.dirty ||registerForm.controls.phone.touched)">
        Phone is not valid
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>
