<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add contract</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mystyle/mycss.css">
</head>
<body>
<div class="modal-content">

    <h5 class="modal-title text-center" id="exampleModalLabel">TẠO HỢP ĐỒNG</h5>


    <div class="modal-body container-fluid">
        <div class="container  mt-2 p-2 mb-2" style="border: 1px solid grey; border-radius: 15px">

            <form class="row" action="/contract/add" method="post" >
                <div class="col-md-12">
                    <label class="form-label">Ngày bắt đầu </label>
                    <input type="date" class="form-control" >
                </div>
                <div class="col-md-12">
                    <label for="endday" class="form-label">Ngày kết thúc </label>
                    <input type="date" class="form-control" id="endday" name="endday" >
                </div>

                <div class="col-md-12">
                    <label for="deposit" class="form-label">Tiền đặt cọc</label>
                    <input type="number" class="form-control" id="deposit" name="deposit" >
                </div>
                <div class="col-md-12">
                    <label for="total" class="form-label">Tổng tiền</label>
                    <input type="number" readonly class="form-control " id="total" name="total">
                </div>

                <div class="col-md-12">
                    <label class="form-label">Khách hàng</label>
                    <select name="customerName" class="form-select" >
                        <option ></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Dịch vụ</label>
                    <select name="serviceName" class="form-select" >
                        <option ></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Nhân viên</label>
                    <select name="serviceName" class="form-select" >
                        <option ></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Dịch vụ đi kèm</label>
                    <button type="button" class="btn btn-primary mt-2 mb-2" onclick="showModalAddAttachFacility()">
                        +
                    </button>

                    <!--                    <table class="table table-striped" id="tableFacilityContract" style="display: none;">-->
                    <!--                        <tr>-->
                    <!--                            <th>Tên dịch vụ đi kèm</th>-->
                    <!--                            <th>Đơn vị</th>-->
                    <!--                            <th>Giá tiền</th>-->
                    <!--                            <th>Số lượng</th>-->
                    <!--                            <th>-->
                    <!--                                <button style="display: none" type="button" class="btn btn-danger"-->
                    <!--                                        data-bs-toggle="modal" data-bs-target="#" id="buttonHide"-->
                    <!--                                        onclick="hideAttachFacility()">-->
                    <!--                                    x-->
                    <!--                                </button>-->
                    <!--                            </th>-->
                    <!--                        </tr>-->
                    <!--                        <tr>-->
                    <!--                            <td><input type="checkbox"> Karaoke</td>-->
                    <!--                            <td>Giờ</td>-->
                    <!--                            <td>100000</td>-->
                    <!--                            <td><input style="width: 70px" type="number"></td>-->
                    <!--                        </tr>-->
                    <!--                        <tr>-->
                    <!--                            <td><input type="checkbox"> Thuê xe máy</td>-->
                    <!--                            <td>Giờ</td>-->
                    <!--                            <td>100000</td>-->
                    <!--                            <td><input style="width: 70px" type="number"></td>-->
                    <!--                        </tr>-->
                    <!--                        <tr>-->
                    <!--                            <td><input type="checkbox"> Thuê xe đạp</td>-->
                    <!--                            <td>Giờ</td>-->
                    <!--                            <td>100000</td>-->
                    <!--                            <td><input style="width: 70px" type="number"></td>-->
                    <!--                        </tr>-->

                    <!--                    </table>-->

                </div>
                <div class="col-12  mt-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-warning">Tạo hợp đồng</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="attachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLable">DANH SÁCH DỊCH VỤ ĐI KÈM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Tên dịch vụ đi kèm</th>
                        <th>Đơn vị</th>
                        <th>Giá tiền</th>
                        <th>Số lượng</th>
                    </tr>
                    <tbody id="attachBody">

                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addContactDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">THÊM DỊCH VỤ ĐI KÈM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                        </tr>
                        <tbody id="addAttachFacility">

                        </tbody>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="getAttachFacilityObject()">Thêm</button>
            </div>
        </div>
    </div>
</div>

<script src="../../js/bootstrap.min.js"></script>
</body>
</html>
